

.AppButton {
    font-family: "RF Dewi Extended SemiBold", sans-serif;
    background-color: #222222;
    border: none;
    color: #E8EAED;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px 20px;
    transition-duration: 0.4s;
    width : 250px;
    height : 50px; 

}
.icon{
     padding: 10px;
}