.root {
    margin : 0 ; 
    padding : 0 ;
    min-width: 100%;
    min-height : 100% ; 
}

.landing {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    /* align-items: center; */    
    min-width: 100%;
    min-height: 500px;   
    background-color: transparent;
    color: azure;
}
.squares {
    position: fixed;
    top: 10%;
    left: 30%;
    width : 30%;
    height: 30%;
    z-index: -1;
}
.squares-vertical{
    position: fixed;
        bottom: 10%;
        right: 31%;
        width: 30%;
        height: 30%;
        z-index: -1;
}
.landing__content {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: self-start;
    width: 60%;
    height: 100%;
}
.landing__image {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.landing_pic{
    width: 80%;
    height: 80%;
    border-radius : 15%;
}
.image_text{
    font-family: "RF Dewi Thin", sans-serif;
    font-size: 1rem;
    color : #E8EAED;
    position : relative;
    bottom : 85px;
    z-index: 1;
    background-color: rgba(0,0,0, 0.5) ; 
    padding: 0 10px 0 10px;
    border-radius: 24px;

}
.landing__title{
    line-height: 10px;
    font-size: 3.5rem;
}
.landing__description{
    font-family: "RF Dewi Thin", sans-serif;
    font-size: 1.5rem;
    color : #E8EAED;
}

.footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100px;
    background-color: transparent;
    color: azure;
}
.landingIcons{
    object-fit: fill;
    width: 20px;
    height: 20px;
}
.landingIconButton{
    margin: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}
.IconConatiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 5%;
    width: 8%;
    height: 100%;
}
.button_container{
    width: 100% ; 
    display: flex ;
    justify-content: flex-start;
    padding-top:  50px;  
}