@font-face {
  font-family: 'RF Dewi';
  src: url('./fonts/RFDewi-Regular.eot');
  src: local('RF Dewi Regular'), local('RFDewi-Regular'),
    url('RFDewi-Regular.eot?#iefix') format('embedded-opentype'),
    url('RFDewi-Regular.woff2') format('woff2'),
    url('RFDewi-Regular.woff') format('woff'),
    url('RFDewi-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RF Dewi Light';
  src: url('./fonts/RFDewi-Light.eot');
  src: local('RF Dewi Light'), local('RFDewi-Light')
    url('./fonts/RFDewi-Light.eot') format('embedded-opentype'),
    url('./fonts/RFDewi-Light.woff2') format('woff2'),
    url('./fonts/RFDewi-Light.woff') format('woff'),
    url('./fonts/RFDewi-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'RF Dewi Thin';
  src: url('./fonts/RFDewi-Thin.eot');
  src: local('RF Dewi Thin'), local('RFDewi-Light') url('./fonts/RFDewi-Thin.eot') format('embedded-opentype'),
    url('./fonts/RFDewi-Thin.woff2') format('woff2'),
    url('./fonts/RFDewi-Thin.woff') format('woff'),
    url('./fonts/RFDewi-Thin.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'RF Dewi Extended SemiBold';
  src: url('./fonts/RFDewi-ExtendedSemiBold.eot');
  src: local('RF Dewi Extended SemiBold'), local('RFDewi-ExtendedSemiBold'),
    url('./fonts/RFDewi-ExtendedSemiBold.eot') format('embedded-opentype'),
    url('./fonts/RFDewi-ExtendedSemiBold.woff2') format('woff2'),
    url('./fonts/RFDewi-ExtendedSemiBold.woff') format('woff'),
    url('./fonts/RFDewi-ExtendedSemiBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}


body{
  margin-left: 5%;
  margin-right: 5%;
  padding: 0;  
  /* place-items: center; */
  /* width: 100vw; */
  height: 100vh;
  background-color: #000000;
  font-family:  "RF Dewi", sans-serif;
  
}
body::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

